@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --bcg-button-color: #f5f4fa;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg-color: #2f303a;
  --card-border-color: #eeeeee;
  --icon-bg-color: #afb1b8;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* убирает 4px у картинок в ссылках */
img {
  display: block;
}

/* убирает точки и margin в списках */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* убирает margin в h */
.title {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  color: var(--secondary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

/* логотип */
.logo {
  color: var(--primary-black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.container .mobile-menu {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding: 48px 25px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}
.mobile-menu__close-button:hover, .mobile-menu__close-button:focus {
  fill: var(--accent-color);
}

.menu-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  transition: fill 250ms var(--animation-function);
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--accent-color);
}

/* ссылки навигации */
.mobile-menu__main-nav {
  margin-bottom: 302px;
}

.mobile-menu__list {
  display: inline-block;
}

.mobile-menu__item {
  margin-bottom: 32px;
}
.mobile-menu__item:last-child {
  margin-bottom: 0;
}

.mobile-menu__link {
  color: var(--secondary-title-color);
  text-decoration: none;
  display: block;
  transition: color 250ms var(--animation-function);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__link--current {
  display: block;
  color: var(--accent-color);
}

/* Контакты в шапке */
.mobile-menu-contacts {
  fill: currentColor;
  margin-bottom: 64px;
}

.mobile-menu-contacts__item {
  margin-bottom: 32px;
}
.mobile-menu-contacts__item:last-child {
  margin-bottom: 0;
}

.mobile-menu-contacts__contact {
  color: var(--primary-text-color);
  text-decoration: none;
}
.mobile-menu-contacts__contact.tel {
  font-size: 34px;
  color: var(--accent-color);
}
.mobile-menu-contacts__contact.mail {
  font-size: 24px;
  line-height: 1.17;
}

.mobile-menu-soc {
  display: flex;
  font-size: 18px;
  line-height: 1.22;
}

.mobile-menu-soc__item {
  display: flex;
  align-items: baseline;
}
.mobile-menu-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}

.mobile-menu-soc_link {
  color: var(--accent-color);
  text-decoration: none;
}

.hero {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-title-color);
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}

/* кнопка в индекс */
.hero__button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms var(--animation-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.features-list__item {
  margin-bottom: 30px;
}
.features-list__item:last-child {
  margin-bottom: 0;
}

.features-list__title {
  color: var(--secondary-title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.features-list__content {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.71;
}

.features-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bcg-button-color);
  border-radius: 4px;
}

.section-working {
  padding-top: 0px;
  display: none;
}

.section-working__list {
  display: flex;
}

.section-working__item {
  position: relative;
  margin-right: 30px;
}
.section-working__item:last-child {
  position: relative;
  margin-right: 0;
}

.section-working__content {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: var(--secondary-bcg-color);
}

.section-team__item {
  margin-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-team__item:last-child {
  margin-bottom: 0;
}

.section-team__title {
  color: var(--secondary-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.section-team__content {
  line-height: 1.19;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-team__item-text {
  padding-top: 30px;
  padding-bottom: 16px;
}

.social-links {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.social-links__item {
  margin-right: 10px;
}
.social-links__item:last-child {
  margin-right: 0;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  margin-bottom: 0px;
  fill: var(--icon-bg-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 250ms var(--animation-function), fill 250ms var(--animation-function);
}
.social-links__link:hover, .social-links__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.clients-list__item {
  margin: 15px;
}

.clients-list__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icon-bg-color);
  width: 210px;
  height: 92px;
  margin-bottom: 0px;
  transition: border 250ms var(--animation-function), fill 250ms var(--animation-function);
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  background-color: var(--footer-bcg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  text-align: center;
}

.logo--white {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.address {
  line-height: 1.71;
  margin-bottom: 60px;
}

.address__map {
  color: var(--primary-white-color);
  font-style: normal;
  margin-bottom: 9px;
}

.address__contacts {
  margin-bottom: 9px;
}

.address__mail,
.address__tel {
  color: var(--footer-text-color);
  text-decoration: none;
  font-style: normal;
}

.contacts {
  margin-bottom: 60px;
}

.contacts__title {
  color: var(--primary-white-color);
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
}

.contacts-list__item {
  margin-right: 10px;
}
.contacts-list__item:last-child {
  margin-right: 0;
}

.contacts-list {
  display: flex;
  justify-content: center;
}

.contacts-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  margin-bottom: 0px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--primary-white-color);
  transition: background-color 250ms var(--animation-function);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

/* -------footer form--------- */
.footer-form__title {
  color: var(--primary-white-color);
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
}

.footer-form__input-mail {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  padding: 15px 16px;
  width: 100%;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition: border-color 250ms var(--animation-function);
}
.footer-form__input-mail:focus-within {
  border-color: #979797;
}
.footer-form__input-mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  padding: 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--animation-function);
}
.footer-form__button:hover, .footer-form__button:focus {
  background-color: #188ce8;
}

.footer-form__button-icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

/* .footer-form .button::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-image: url('../images/icon-send.svg');
  background-size: contain;
} *//*# sourceMappingURL=main.css.map */