.clients-list {
  display: flex;
}

.clients-list__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.clients-list__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  fill: var(--icon-bg-color);
  width: 170px;
  height: 92px;
  margin-bottom: 0px;

  transition: border 250ms var(--animation-function),
    fill 250ms var(--animation-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
  }
}
