.hero {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-title-color);

  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 30px;
}

/* кнопка в индекс */
.hero__button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;

  min-width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;

  transition: background-color 250ms var(--animation-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
