.features-list {
}

.features-list__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.features-list__title {
  color: var(--secondary-title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 10px;
}

.features-list__content {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.71;
}

.features-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bcg-button-color);
  border-radius: 4px;
}
